body{
    background-color: yellow;
}
#container {
    border: solid black;
    height:592px;
    width:592px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#container div{
    background-color: white;
    border: 1px solid black;
}
#container div:hover{
    background-color:blue;
}